In [94]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Data Gathering and exporting

### Web Scrape - Fashionunited.com

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up Selenium WebDriver (you may need to adjust the path to your WebDriver)
driver = webdriver.Chrome()  # Or use 'webdriver.Firefox()' if you have Firefox WebDriver installed
driver.get("https://fashionunited.com/brands/all")

# Scroll to load all dynamic content
SCROLL_PAUSE_TIME = 2  # Adjust depending on the loading time of the site

last_height = driver.execute_script("return document.body.scrollHeight")
while True:
    # Scroll down to the bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    
    # Wait for new content to load
    time.sleep(SCROLL_PAUSE_TIME)
    
    # Check if we've reached the bottom
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

# Parse the fully loaded page with BeautifulSoup
soup = BeautifulSoup(driver.page_source, "html.parser")
driver.quit()  # Close the browser

base_url = "https://fashionunited.com"
brand_links = []
for li in soup.find_all("li"):
    a_tag = li.find("a")
    if a_tag and a_tag.get("href") and a_tag["href"].startswith("/companies/"):
        brand_links.append(base_url + a_tag["href"])

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=131.0.6778.86)
Stacktrace:
	GetHandleVerifier [0x00007FF729F06CB5+28821]
	(No symbol) [0x00007FF729E73840]
	(No symbol) [0x00007FF729D1578A]
	(No symbol) [0x00007FF729CEF4F5]
	(No symbol) [0x00007FF729D96247]
	(No symbol) [0x00007FF729DAECE2]
	(No symbol) [0x00007FF729D8F0A3]
	(No symbol) [0x00007FF729D5A778]
	(No symbol) [0x00007FF729D5B8E1]
	GetHandleVerifier [0x00007FF72A23FCAD+3408013]
	GetHandleVerifier [0x00007FF72A25741F+3504127]
	GetHandleVerifier [0x00007FF72A24B5FD+3455453]
	GetHandleVerifier [0x00007FF729FCBDBB+835995]
	(No symbol) [0x00007FF729E7EB5F]
	(No symbol) [0x00007FF729E7A814]
	(No symbol) [0x00007FF729E7A9AD]
	(No symbol) [0x00007FF729E6A199]
	BaseThreadInitThunk [0x00007FFC2349259D+29]
	RtlUserThreadStart [0x00007FFC24B0AF38+40]

In [97]:
brand_links = [
    "https://fashionunited.com/companies/uniqlo",
    "https://fashionunited.com/companies/urban-outfitters",
    "https://fashionunited.com/companies/the-aldo-group",
    "https://fashionunited.com/companies/jimmy-choo",
    "https://fashionunited.com/companies/chow-tai-fook",
    "https://fashionunited.com/companies/swarovski",
    "https://fashionunited.com/companies/brunello-cucinelli",
    "https://fashionunited.com/companies/american-eagle-outfitters",
    "https://fashionunited.com/companies/nine-west",
    "https://fashionunited.com/companies/audemars-piguet",
    "https://fashionunited.com/companies/tissot",
    "https://fashionunited.com/companies/lululemon",
    "https://fashionunited.com/companies/patek-philippe",
    "https://fashionunited.com/companies/manolo-blahnik",
    "https://fashionunited.com/companies/rolex",
    "https://fashionunited.com/companies/zalando",
    "https://fashionunited.com/companies/vera-wang",
    "https://fashionunited.com/companies/topshop",
    "https://fashionunited.com/companies/hm",
    "https://fashionunited.com/companies/tiffany-co",
    "https://fashionunited.com/companies/tom-ford",
    "https://fashionunited.com/companies/victorias-secret",
    "https://fashionunited.com/companies/next",
    "https://fashionunited.com/companies/c-and-a",
    "https://fashionunited.com/companies/chopard",
    "https://fashionunited.com/companies/louboutin",
    "https://fashionunited.com/companies/omega",
    "https://fashionunited.com/companies/foot-locker",
    "https://fashionunited.com/companies/ray-ban",
    "https://fashionunited.com/companies/macy-s",
    "https://fashionunited.com/companies/old-navy",
    "https://fashionunited.com/companies/primark",
    "https://fashionunited.com/companies/maxmara",
    "https://fashionunited.com/companies/net-a-porter",
    "https://fashionunited.com/companies/longines",
    "https://fashionunited.com/companies/forever-21",
    "https://fashionunited.com/companies/sisley",
    "https://fashionunited.com/companies/lao-feng-xiang",
    "https://fashionunited.com/companies/tods",
    "https://fashionunited.com/companies/tory-burch",
    "https://fashionunited.com/companies/elie-tahari",
    "https://fashionunited.com/companies/patagonia",
    "https://fashionunited.com/companies/bogner",
    "https://fashionunited.com/companies/new-look",
    "https://fashionunited.com/companies/breguet",
    "https://fashionunited.com/companies/heuer",
    "https://fashionunited.com/companies/blue-tomato-gmbh"       
]

In [113]:
brand_links = [
    "https://fashionunited.com/companies/polo-ralph-lauren",
    "https://fashionunited.com/companies/armani",
    "https://fashionunited.com/companies/chanel",
    "https://fashionunited.com/companies/prada"
]

In [114]:
# Function to extract brand details from a brand's page
def extract_brand_details(brand_url):
    response = requests.get(brand_url)
    brand_soup = BeautifulSoup(response.text, "html.parser")
    
    # Extract brand name
    brand_name = brand_soup.find("h1", text=True)
    brand_name = brand_name.text.strip() if brand_name else None
    
    # Extract type of products
    products = None
    products_section = brand_soup.find("dt", text="Products:")
    if products_section:
        products = products_section.find_next("dd").text.strip()
    
    # Extract description
    description = None
    description_divs = brand_soup.find_all("div", class_="css-14ed7fa e12cb4a14")

    if description_divs:
        # Combine text from all matching divs
        description = " ".join(div.text.strip() for div in description_divs)
    
    # Extract website
    website = None
    website_section = brand_soup.find("dt", text="Website:")
    if website_section:
        website = website_section.find_next("a").get("href")
    
    return {
        "Brand Name": brand_name,
        "Products": products,
        "Description": description,
        "Website": website
    }

# Extract details for each brand
brand_data = []
for link in brand_links:
    try:
        brand_details = extract_brand_details(link)
        brand_data.append(brand_details)
    except Exception as e:
        print(f"Error processing {link}: {e}")

# Save data to a pandas DataFrame
df = pd.DataFrame(brand_data)

C:\Users\tedoc\AppData\Local\Temp\ipykernel_13140\148723727.py:7: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  brand_name = brand_soup.find("h1", text=True)
C:\Users\tedoc\AppData\Local\Temp\ipykernel_13140\148723727.py:12: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  products_section = brand_soup.find("dt", text="Products:")
C:\Users\tedoc\AppData\Local\Temp\ipykernel_13140\148723727.py:26: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  website_section = brand_soup.find("dt", text="Website:")

In [116]:
df

,Brand Name,Products,Description,Website
0,RALPH LAUREN,AccessoriesBagsEyewearFootwearJewelryKidswearM...,Ralph Lauren is a US-based designer and retail...,https://www.poloralphlauren.com
1,Armani,None,The Armani Group is a leading company in the f...,http://www.armani.com/
2,CHANEL,None,CHANEL is a private company and a world leader...,http://www.chanel.com/
3,Prada,WomenswearMenswear,"The Prada Group is a global leader in luxury, ...",http://www.prada.com

In [ ]:
df1.shapes

(3781, 4)

In [115]:
df1 = pd.read_csv("data/combined_scraped.csv")
df1.head()

,Brand Name,Products,Description,Website
0,0039 Italy,Womenswear,When a German label manages to free its blouse...,http://www.0039italy.com
1,05 Studio,SwimwearBodywear,We do basics that are not boring! 05 Studio ai...,https://www.the05studio.com
2,0711,Bags,Brand 0711 was founded in 2012 by Nino Eliava ...,http://0711tbilisi.com
3,10Days,WomenswearMenswearAccessories,10DAYS is an Amsterdam based lifestyle brand t...,https://www.10dayslifestyle.nl
4,11 Degrees,WomenswearMenswearKidswearAccessories,Here at 11 Degrees we use higher quality mater...,https://www.11degrees.eu/

In [117]:
# Combine them vertically (extend the rows)
result = pd.concat([df1, df], ignore_index=True)

In [118]:
result.shape

(3785, 4)

In [120]:
result.to_csv("data/combined_scraped.csv", index=False)

In [106]:
result.shape

(3781, 4)

In [39]:
df.to_csv("data/scraped_data.csv")

In [112]:
result[result["Brand Name"] == "Armani"]["Description"]

Series([], Name: Description, dtype: object)

## Data Gathering - Google Trends

In [29]:
# import the TrendReq method from the pytrends request module
from pytrends.request import TrendReq
import time

In [68]:

# Initialize the pytrends API
pytrends = TrendReq(hl='en-US', tz=360)

def get_trend_data(args):
    list_failed = []
    # Keywords and settings#
    keywords = [args]
    time.sleep(30) 
    pytrends.build_payload(keywords, timeframe='today 12-m', geo='', gprop='')
    # Wait before fetching data
    # Add a delay to avoid being blocked
    
    try:
        region_data = pytrends.interest_by_region(resolution='COUNTRY')
        print(f"{args} passed")
        return region_data.to_dict()  
        
    except Exception as e:
        print(f"The brand {args} gave error!")
        print(f"Error: {e}")

In [23]:
df1 = pd.read_excel("data\most_valuanble_brands.xlsx").drop("#", axis = 1)
df1

               Name 2023 Brand Value in $
0              Nike                $42.5B
1     Louis Vuitton                $36.4B
2            Chanel                $25.2B
3            Hermes                $22.1B
4             Gucci                $18.9B
..              ...                   ...
95  Banana Republic                 $640M
96         Desigual                 $627M
97           Swatch                 $626M
98          Cavalli                 $622M
99        Ted Baker                 $100M

[100 rows x 2 columns]

In [91]:
import json

with open('data/data.json', 'r') as file:
    js = json.load(file)

brands = []
for i in js:
    brands.append(i.keys())

string_list = [list(dk)[0] for dk in brands]

In [92]:
# Find missing values

missing_from_list = [value for value in df1['Name'].values if value not in string_list]

In [ ]:
# Batch processing with delay
batch_size = 5
results = []
for i in range(0, len(df1), batch_size):
    batch = df1.iloc[i:i+batch_size]
    for brand in batch['Name']:
        if brand not in string_list:
            trend_data = get_trend_data(brand)
            results.append(trend_data)
            time.sleep(10)  # Longer delay to avoid rate limits
        print(f"Brand {brand} already exists")
    print(f"Processed batch {i // batch_size + 1}")

Brand Nike already exists
Ocure on Louis Vuitton
Error: The request failed: Google returned a response with code 429
Brand Louis Vuitton already exists
Brand Chanel already exists
Brand Hermes already exists
Brand Gucci already exists
Processed batch 1
Brand Dior already exists
Brand Adidas already exists
Brand Rolex already exists
Brand Zara already exists
Brand H&M already exists
Processed batch 2
Brand Cartier already exists
Ocure on Uniqlo
Error: The request failed: Google returned a response with code 429
Brand Uniqlo already exists
Brand Prada already exists
Brand Tiffany & Co. already exists

In [121]:
import pandas as pd

In [122]:
df = pd.read_csv("data/combined_scraped.csv")

In [123]:
df

,Brand Name,Products,Description,Website
0,0039 Italy,['Womenswear'],When a German label manages to free its blouse...,http://www.0039italy.com
1,05 Studio,"['Swimwear', 'Bodywear']",We do basics that are not boring! 05 Studio ai...,https://www.the05studio.com
2,0711,['Bags'],Brand 0711 was founded in 2012 by Nino Eliava ...,http://0711tbilisi.com
3,10Days,"['Womenswear', 'Menswear', 'Accessories']",10DAYS is an Amsterdam based lifestyle brand t...,https://www.10dayslifestyle.nl
4,11 Degrees,"['Womenswear', 'Menswear', 'Kidswear', 'Access...",Here at 11 Degrees we use higher quality mater...,https://www.11degrees.eu/
...,...,...,...,...
3780,Blue Tomato GmbH,NaN,Blue Tomato is an autrian retailer and e-comme...,NaN
3781,POLO RALPH LAUREN,"['Accessories', 'Bags', 'Eyewear', 'Footwear',...",Ralph Lauren is a US-based designer and retail...,https://www.poloralphlauren.com
3782,Armani,NaN,The Armani Group is a leading company in the f...,http://www.armani.com/
3783,CHANEL,NaN,CHANEL is a private company and a world leader...,http://www.chanel.com/
3784,Prada,"['Womenswear', 'Menswear']","The Prada Group is a global leader in luxury, ...",http://www.prada.com

In [126]:
scraped = pd.read_csv("data/Finaldf.csv").drop("Unnamed: 0", axis = 1)

In [127]:
scraped

,Brand,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica,Antigua & Barbuda,...,Wallis & Futuna,Western Sahara,Yemen,Zambia,Zimbabwe,Åland Islands,2023 Brand Value in $,Products,Description,Website
0,NIKE,0,0,11,0,0,0,0,0,0,...,0,0,0,0,0,0,$42.5B,['Sportswear'],Our mission is what drives us to do everything...,http://nike.com
1,POLO RALPH LAUREN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$4.7B,"['Accessories', 'Bags', 'Eyewear', 'Footwear',...",Ralph Lauren is a US-based designer and retail...,https://www.poloralphlauren.com
2,THE NORTH FACE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$4.6B,"['Womenswear', 'Menswear', 'Accessories']",Founded by husband and wife Douglas and Susie ...,https://www.thenorthface.com
3,LOUIS VUITTON,0,0,23,0,0,0,0,0,0,...,0,0,0,0,0,0,$36.4B,"['Womenswear', 'Menswear', 'Accessories']",LOUIS VUITTON ist seit über 160 Jahren eine de...,http://www.louisvuitton.com
4,UNIQLO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$9.4B,NaN,Uniqlo is a modern Japanese company that inspi...,http://www.uniqlo.com/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,TAG HEUER,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$645M,NaN,TAG Heuer is a watch company founded in 1860 b...,http://www.tagheuer.com/
90,BANANA REPUBLIC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$640M,"['Womenswear', 'Menswear', 'Kidswear', 'Footwe...",Banana Republic is a clothing and accessories ...,https://www.bananarepublic.eu
91,DESIGUAL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$627M,"['Womenswear', 'Menswear', 'Kidswear', 'Sports...","Thomas Meyer created Desigual in 1984, in the ...",http://www.desigual.com
92,CAVALLI,0,23,2,0,0,0,0,0,0,...,0,0,0,0,0,0,$622M,"['Womenswear', 'Menswear', 'Kidswear', 'Footwe...","Founded in 1970, Roberto Cavalli is an Italian...",https://robertocavalli.com
93,TED BAKER,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,$100M,"['Accessories', 'Bags', 'Eyewear', 'Jewelry', ...",Ted Baker is a British designer and retailer o...,https://www.tedbaker.com